<section class="max-w-screen-xl bg-white rounded-2xl mb-4 mt-4 mx-auto p-4 ">
    <div class="flex flex-row justify-between h-1/2 p-6">
        <div>
            <h1 class="lg:text-3xl md:text-2xl sm:text-sm font-bold">JORGE ANDRÉS ARAUJO GUTIÉRREZ</h1>
            <p class="mb-15">INGENIERO DE SISTEMAS</p>
            <span class="text-red-800">Programación - Cáculo - Álgebra</span>
        </div>
        <div>
            <img src="https://lh3.googleusercontent.com/a/ACg8ocLnNmpWoQZTTFjyYMMm7hDWY6gMYZJqeosvxHtDDh5hc1-ybWno=s288-c-no" alt="Foto de perfil"
            class="w-30 h-30 rounded-full border border-gray-300">
        </div>
    </div>
</section>
<section class="max-w-screen-xl bg-white rounded-2xl mb-4 mt-4 mx-auto p-4">
    <div class="flex flex-wrap justify-between pl-6 pr-6 pt-4 pb-4">
        <span>
            <h2 class="font-medium mb-2">UBICACIÓN</h2>
            <div class="flex flex-row">
                <div class="rounded-3xl bg-gray-200 pt-2 pb-2 pl-4 pr-4 mb-2 mr-2">
                    <p class="flex justify-center">Barranquilla</p>
                </div>
                <div class="rounded-3xl bg-gray-200 pt-2 pb-2 pl-4 pr-4 mb-2 mr-2">
                    <p class="flex justify-center">Modalidad</p>
                </div>
            </div>
        </span>
        <span>
            <h2 class="font-medium mb-2">DISPONIBILIDAD</h2>
            <div class="flex flex-row ">
                <div class="rounded-3xl bg-gray-200 pt-2 pb-2 pl-4 pr-4 mb-2 mr-2">
                    <p class="flex justify-center">Lunes - viernes</p>
                </div>
                <div class="rounded-3xl bg-gray-200 pt-2 pb-2 pl-4 pr-4 mb-2 mr-2">
                    <p class="flex justify-center">8:00AM-12:00PM</p>
                </div>
            </div>
        </span>
        <span>
            <h2 class="font-medium mb-2">TARIFA</h2>
            <div class="flex flex-row">
                <div class="rounded-3xl bg-gray-200 pt-2 pb-2 pl-4 pr-4 mb-2">
                    <p class="flex justify-center">A convenir</p>
                </div>
            </div>
        </span>
    </div>
</section>
<section class="max-w-screen-xl bg-white rounded-2xl mb-4 mt-4 mx-auto p-4">
    <div class="pt-2 pb-2 pl-4 pr-4 ">
        <span>
            <h2 class="font-medium mb-4">ACERCA DE TUTOR</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </span>
    </div>
</section>
<section class="max-w-screen-xl bg-white rounded-2xl mb-4 mt-4 mx-auto p-4">
    <div class="pt-2 pb-2 pl-4 pr-4 ">
        <span>
            <h2 class="font-medium mb-4">EDUCACIÓN</h2>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </span>
    </div>
</section>
<section class="max-w-screen-xl bg-white rounded-2xl mb-4 mt-4 mx-auto p-4">
    <div class="pt-2 pb-2 pl-4 pr-4 ">
        <span>
            <h2 class="font-medium mb-4">EXPERIENCIA Y HABILIDADES</h2>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </span>
    </div>
</section>
<section class="max-w-screen-xl bg-white rounded-2xl mb-4 mt-4 mx-auto p-4">
    <div class="pt-2 pb-2 pl-4 pr-4 ">
        <h2 class="font-medium mb-4">RESEÑAS</h2>
        <span>
            <div class="flex flex-row mb-2 bg-gray-300 rounded-4xl pt-2 pb-2">
                <div class="flex flex-col justify-between pl-4 pr-4">
                    <p class="font-bold">Nombre</p>
                    <p class="text-sm">xxxxx</p>
                    <p class="text-sm">mm/aaaa</p>
                </div>
                <p class="mb-2 text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </span>
        <span>
            <div class="flex flex-row mb-2 bg-gray-300 rounded-4xl pt-2 pb-2">
                <div class="flex flex-col justify-between pl-4 pr-4">
                    <p class="font-bold">Nombre</p>
                    <p class="text-sm">xxxxx</p>
                    <p class="text-sm">mm/aaaa</p>
                </div>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </span>
        <span>
            <div class="flex flex-row mb-2 bg-gray-300 rounded-4xl pt-2 pb-2">
                <div class="flex flex-col justify-between pl-4 pr-4">
                    <p class="font-bold">Nombre</p>
                    <p class="text-sm">xxxxx</p>
                    <p class="text-sm">mm/aaaa</p>
                </div>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </span>
    </div>
</section>