@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.form-login {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 0px;
    border-left: 0px;
    border-radius: 20px;
}

/*h1 {
    font-family: "Quicksand", serif;
}*/

form input {
    border-radius: 4px;
    border-color: #7A757F;
}

.btnLogin {
    background-color: #A62639;
    border-radius: 100px;
    font-family: "Quicksand", serif;
}

.btnLogin:hover {
    background-color: #511C29;
    cursor: pointer;
}

#forgot-password {
    color: #511C29;
}

#forgot-password a:hover {
    color: #A62639;
}

#sign-up-btn {
    color: #511C29;
}

#sign-up-btn:hover {
    color: #A62639;
}
