<Section class="min-h-screen flex items-center justify-center">
  <div class=" flex flex-col items-center justify-center px-6 py-8">
    <div class="w-full max-w-6xl lg:p-12 p-2">

      <!-- Título -->
      <div class="flex flex-col items-lefs lg:mb-18 mb-10">
        <h1 class="text-2xl md:text-3xl font-bold font-['quicksand'] text-gray-900 mb-6">
          COMPLETA TU INFORMACIÓN ADICIONAL
        </h1>
      </div>

      <form [formGroup]="profileAdicionalTutorForm" (ngSubmit)="onSubmit()" class="w-full">
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-80 gap-10">

          <!-- Columna izquierda -->
          <div class="flex flex-col gap-10 w-xl ">
            <!-- Acerca de ti -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700 mb-2">*Acerca de ti</label>
              <textarea formControlName="aboutYou"
                class="w-full max-h-52 p-3 border border-[#A62639] rounded-2xl focus:outline-none " rows="3"
                [class.border-red-500]="f['aboutYou'].touched && f['aboutYou'].errors"></textarea>
              <div *ngIf="f['aboutYou'].touched && f['aboutYou'].errors" class="text-red-500 text-xs mt-1">
                <div *ngIf="f['aboutYou'].errors?.['required']">Este campo es requerido</div>
                <div *ngIf="f['aboutYou'].errors?.['minlength']">Mínimo 20 caracteres</div>
                <div *ngIf="f['aboutYou'].errors?.['maxlength']">Máximo 500 caracteres</div>
              </div>
            </div>

            <!-- Tarifa por hora -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">*Tarifa por hora a cobrar</label>
              <div class="relative">
                <span class="absolute left-3 top-3">$</span>
                <input type="text" formControlName="hourlyRate"
                  class="w-full pl-8 p-3 border border-[#A62639] rounded-full focus:outline-none"
                  [class.border-red-500]="f['hourlyRate'].touched && f['hourlyRate'].errors">
              </div>
              <div *ngIf="f['hourlyRate'].touched && f['hourlyRate'].errors" class="text-red-500 text-xs mt-1">
                <div *ngIf="f['hourlyRate'].errors?.['required']">La tarifa es requerida</div>
                <div *ngIf="f['hourlyRate'].errors?.['pattern']">Formato inválido (ej. 20 o 20.50)</div>
                <div *ngIf="f['hourlyRate'].errors?.['min']">La tarifa mínima es $5</div>
              </div>
            </div>

            <!-- Modalidad -->
            <div>
              <label class="block text-sm font-medium text-gray-700 mb-2">*Modalidad para las tutorías</label>
              <div class="relative">
                <select formControlName="modality"
                  class="w-full p-3 border border-[#A62639] rounded-full focus:outline-none auto-complete"
                  [class.border-red-500]="f['modality'].touched && f['modality'].errors">
                  <option value="">Selecciona una opción</option>
                  <option value="presencial">Presencial</option>
                  <option value="remoto">Remoto</option>
                  <option value="hibrido">Híbrido</option>
                </select>
              </div>
              <div *ngIf="f['modality'].touched && f['modality'].errors" class="text-red-500 text-xs mt-1">
                <div *ngIf="f['modality'].errors?.['required']">Este campo es requerido</div>
              </div>
            </div>
          </div>

          <!-- Columna derecha -->
          <div class="flex flex-col gap-10 justify-start w-full">
            <!-- Educación -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700 mb-2">*Educación</label>
              <button type="button"
                class="bg-[#A62639] text-white w-full py-3 rounded-full font-['quicksand'] hover:bg-[#511C29] transition"
                [routerLink]="[
                  '/user/tutor/form-aditional-data',
                  { outlets: { modal: ['form-education-data'] } }
                ]">
                Agregar Educación
              </button>
            </div>

            <!-- Habilidades y experiencia -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700 mb-2">*Habilidades y experiencia</label>
              <button type="button"
                class="bg-[#A62639] text-white w-full py-3 rounded-full font-['quicksand'] hover:bg-[#511C29] transition"
                [routerLink]="[
                  '/user/tutor/form-aditional-data', 
                  { outlets: {modal: ['form-skills-data']} }
                ]">
                Agregar Habilidades y experiencia
              </button>
            </div>

            <!-- Idiomas -->
            <div class="w-full">
              <label class="block text-sm font-medium text-gray-700 mb-2">Idiomas</label>
              <button type="button"
                class="bg-[#A62639] text-white w-full py-3 rounded-full font-['quicksand'] hover:bg-[#511C29] transition"
                [routerLink]="[
                  '/user/tutor/form-aditional-data', 
                  { outlets: {modal: ['form-language-data']} }
                ]">
                Agregar idioma
              </button>
            </div>
          </div>
        </div>

        <!-- Botón Completar -->
        <div class="flex lg:justify-end justify-center mt-30">
          <button type="submit" [disabled]="isSubmitting"
            class="bg-[#A62639] lg:w-[20%] w-full text-white px-10 py-3 rounded-full font-['quicksand'] hover:bg-[#511C29] transition disabled:opacity-50">

            @if (isSubmitting) {
            <span class="loader">Procesando...</span>
            } @else {
            <span>Completar</span>
            }
          </button>
        </div>
      </form>

    </div>
  </div>
</Section>
<router-outlet name="modal" />
