<section>
    <div class="flex flex-col justify-center items-center max-w-3xl px-6 py-24 mx-auto min-w-80 md:h-svh md:py-4 lg:py-0">
        <div class="flex flex-col justify-center items-center w-full px-6 py-10 mx-auto">
            <div class="inline-flex flex-col">
                <h1 class="font-bold text-2xl md:text-4xl lg:text-5xl text-wrap leading-tight tracking-tight">
                    EL CONOCIMIENTO TE ESPERA
                    <span class="text-red-800">ÚNETE HOY</span> A TUTOR<span class="text-red-800">HUB</span>
                    <label class="block w-full mt-4 lg:text-xl md:text-xl text-sm font-normal italic text-center">Ya seas estudiante o tutor, nuestra plataforma conecta el aprendizaje con la enseñanza de manera fácil y efectiva en <span class="font-bold">tiempo real.</span></label>
                </h1>
            </div>
            
            <button type="submit" routerLink="/auth/register/student" class="text-white bg-[#A62639] rounded-3xl cursor-pointer hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm mt-15 px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Empieza ahora</button>
        </div>  
    </div>
</section>
